// ####################################
// Keeping footer at the bottom of the page
// ####################################

.footer-to-bottom-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.before-footer {
    flex: 1 0 auto;
    margin-bottom: 3em;
}

.navbar {
    flex: 0 0 auto;
}

// ####################################
// Footer styling
// ####################################

.footer {
    background-color: $grey1;
    padding: 3em 0;
    width: 100%;
    color: $grey5;

    .logo {
        display: block;
        margin: 0 0 .5em;
    }

    a {
        margin: 0;
        color: $grey4;

        &:hover {
            color: $grey3;
        }
    }

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0 1.5em;
        padding: 0;

        li {
            margin: 0 .7em 0 0;
        }
    }

    .copyright {
        margin: 0;

        &__links {
            margin: 0 0 0 3px;
        }

        .spacer {
            margin: 0 2px;
        }

        .smaller {
            font-size: .9em;
        }
    }

    @include laptop {
        .content-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .logo {
            margin: 0 1.5em 0 0;
        }

        .footer-nav {
            margin: 0;
        }

        .copyright {
            margin: 0 0 0 auto;
        }
    }
}
