// ####################################
// Global content wrapper
// ####################################

.content-wrapper {
    margin: 0 1rem;
    padding: 0;
    
    @include tablet {
        margin: 0 1.5rem;
    }

    @include laptop {
        margin: 0 2rem;
    }

    @include desktop {
        max-width: 1648px;
        width: 100%;
        margin: 0 auto;
    }
}

// ####################################
// Justify all the descriptions
// ####################################

.description {
    text-align: justify;
}

.description-group {
    h5 {
        font-weight: bold;
    }
}

// ####################################
// Important warning
// ####################################

.important {
    color: $primary-color;
    font-weight: bold;
}

.ext-link {
    margin: 0 0 0 5px;
    font-size: .5em;
}
