// ####################################
// Handsontable custom style
// ####################################

.data-filter {
    display: flex;
    justify-content: space-around;
}

.rhandsontable-with-controls {
    .handsontable {
        margin: 0 0 1.5em;
    
        .changed:not(.htInvalid) {
            color: $primary-color;
            background: $grey5;
        }
    }

    .RH-table-actions {
        display: flex;
        justify-content: space-between;
    
        margin: 0 0 1.5em;
    }
}
