// ####################################
// Handsontable custom style
// ####################################

.data-filter {
    display: flex;
    justify-content: space-around;
}

.rhandsontable-with-controls {
    margin: 0 0 2.5em;

    .handsontable {
        margin: 0 0 1.5em;
    }

    .RH-table-actions {
        display: flex;
        justify-content: space-between;
    
        margin: 0 0 1.5em;
    }
}

.handsontable {
    .changed:not(.htInvalid) {
        color: $primary-color;
        background: $grey5;
    }
}
