// ####################################
// Summary stats tables layout
// ####################################

.stats-summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
