// ####################################
// Portal actions style
// ####################################

.portal-actions {
    margin: 0 auto;
    max-width: 850px;
    padding: 1.5em 0 0;

    .action {
        margin: 0 0 3em;

        h2 {
            margin: 0 0 .5em;
        }

        .file-input-and-download {
            display: flex;
            align-items: flex-start;

            > .btn {
                margin: 0 1.5em 0 0;
            }
        }
    }
}
